<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="navbar-top" class="navbar navbar navbar-default navbar-fixed-top">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-top-collapse">
                <span class="nav-icon glyphicon glyphicon-user"></span>
            </button>
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#sidebar">
                <span class="nav-icon glyphicon glyphicon-th-large"></span>
            </button>
            <a class="navbar-brand" href="#">
                Intervention Management System
            </a>
        </div>
        <div id="navbar-top-collapse" class="navbar-collapse collapse">
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div id="sidebar" class="navbar-collapse collapse">
                <ul class="nav list-group">
                    @if (User.Identity.IsAuthenticated)
                    {

                        if (User.IsInRole("SiteEngineer"))
                        {
                            <li><a class="list-group-item" href="@Url.Action("Index", "SiteEngineer", new { Area = "SiteEngineer"})"><i class="icon-home icon-1x"></i>Home</a></li>
                            <li><a class="list-group-item" href="@Url.Action("CreateClient", "SiteEngineer", new { Area = "SiteEngineer"})"><i class="icon-home icon-1x"></i>New Client</a></li>
                            <li><a class="list-group-item" href="@Url.Action("CreateIntervention", "SiteEngineer", new { Area = "SiteEngineer"})"><i class="icon-home icon-1x"></i>New Intervention</a></li>
                            <li><a class="list-group-item" href="@Url.Action("ClientList", "SiteEngineer", new { Area = "SiteEngineer"})"><i class="icon-home icon-1x"></i>Clients List</a></li>
                            <li><a class="list-group-item" href="@Url.Action("InterventionList", "SiteEngineer", new { Area = "SiteEngineer"})"><i class="icon-home icon-1x"></i>Intervention List</a></li>
                        }

                        if (User.IsInRole("Accountant"))
                        {
                            <li><a class="list-group-item" href="@Url.Action("Index", "Accountant", new { Area = "Accountant"})"><i class="icon-home icon-1x"></i>Welcome</a></li>
                            <li><a class="list-group-item" href="@Url.Action("AccountListView", "Accountant", new { Area = "Accountant"})"><i class="icon-home icon-1x"></i>Staff List</a></li>
                            <li><a class="list-group-item" href="@Url.Action("ReportList", "Accountant", new { Area = "Accountant"})"><i class="icon-home icon-1x"></i>Reports</a></li>
                        }

                        if (User.IsInRole("Manager"))
                        {
                            <li><a runat="server" class="list-group-item" href="@Url.Action("Index", "Manager", new { Area = "Manager"})"><i class="icon-home icon-1x"></i>Home</a></li>
                            <li><a runat="server" class="list-group-item" href="@Url.Action("InterventionList", "Manager", new { Area = "Manager"})"><i class="icon-home icon-1x"></i>Intervention List</a></li>
                        }
                        
                    }
                    else
                    {
                        <li><i class="icon-home icon-1x"></i>@Html.ActionLink("Home", "Index", "Home", new { @class = "list-group-item" })</li>
                    }

                </ul>
            </div>
        </div>
        <div id="main-wrapper">
            <div id="main-container">
                @RenderBody()
            </div>
            <hr />
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
