@model InterventionManagementSystem_MVC.Areas.SiteEngineer.Models.SiteEngineerViewInterventionModel

@{
    ViewBag.Title = "CreateIntervention";
}

<h2>CreateIntervention</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <h4>InterventionViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h3>New Intervention</h3>
        <hr />
        <div class="main-body-content">
            <div class="row form-group">
                <div class="col-md-4 col-lg-3 col-xl-2">
                    @Html.LabelFor(model => model.Intervention.InterventionTypeName, htmlAttributes: new { @class = "control-label col-md-2" })

                </div>
                <div class="col-md-6">
                    @Html.DropDownList("InterventionTypes", Model.ViewInterventionTypeList, "Select Intervention Type", new { @class = "form-control" })
                    @Html.ValidationMessage("Intervention Types")



                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-lg-3 col-xl-2">
                    @Html.LabelFor(model => model.Intervention.ClientName, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-6">
                    @Html.DropDownList("ClientsList", Model.ViewClientsList, "Select Client", new { @class = "form-control" })
                    @Html.ValidationMessage("Clients List")


                </div>
            </div>


            <div class="row form-group">
                <div class="col-md-4 col-lg-3 col-xl-2">
                    @Html.LabelFor(model => model.Intervention.Hours, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Intervention.Hours, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Intervention.Hours, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="row form-group">
                <div class="col-md-4 col-lg-3 col-xl-2">
                    @Html.LabelFor(model => model.Intervention.Costs, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Intervention.Costs, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Intervention.Costs, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-lg-3 col-xl-2">
                    @Html.LabelFor(model => model.Intervention.DateFinish, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.Intervention.DateFinish, DateTime.Now.ToString("yyyy-MM-dd"), new { type = "date", @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Intervention.DateCreate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="row form-group">
                <div class="col-md-4 col-lg-3 col-xl-2">
                    @Html.LabelFor(model => model.Intervention.Comments, htmlAttributes: new { @class = "control-label col-md-2" })
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Intervention.Comments, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Intervention.Comments, "", new { @class = "text-danger" })
                </div>
            </div>


        </div>



        <div class="row form-group">
            <div class="col-md-6">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>

        </div>


    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
