@model InterventionManagementSystem_MVC.Models.InterventionViewModel

@{
    ViewBag.Title = "EditInterventionState";
}

<h2>Edit Intervention State</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.InterventionTypeName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.InterventionTypeName, new { @readonly = "readonly" })

                @Html.ValidationMessageFor(model => model.InterventionTypeName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ClientName, new { @readonly = "readonly" })
                @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.InterventionState, htmlAttributes: new { @class = "control-label col-md-2" })
     
            <div class="col-md-10">
                @Html.DropDownListFor(m=>m.SelectedState, Model.InterventionStates, new { @class = "form-control" })
                @Html.ValidationMessage("States List")
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <h3>@ViewBag.error</h3>
            </div>
        </div>
    </div>
}

