 ﻿@model InterventionManagementSystem_MVC.Areas.SiteEngineer.Models.SiteEngineerViewModel

@{
    ViewBag.Title = "Index";
}

<div>
    <h3>SiteEngineerViewModel</h3>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Name)

        </dt>


        <dd>
            @Html.DisplayFor(model => model.Name)

        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.DistrictName)

        </dt>


        <dd>
            @Html.DisplayFor(model => model.DistrictName)

        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.AuthorisedHours)

        </dt>


        <dd>
            @Html.DisplayFor(model => model.AuthorisedHours)

        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.AuthorisedCosts)

        </dt>


        <dd>
            @Html.DisplayFor(model => model.AuthorisedCosts)

        </dd>


    </dl>

</div>

