@model InterventionManagementSystem_MVC.Areas.Accountant.Models.EditDistrictViewModel

<h3>Edit District</h3>
<hr />
@using (Html.BeginForm("EditDistrict", "Accountant", FormMethod.Post))
{
<div class="row form-group">
    <div class="col-md-4 col-lg-3 col-xl-2">
        <label>User:</label>
    </div>
    <div class="col-md-6">
        <label>@Html.DisplayFor(modelItem=>Model.Name) </label>

    </div>
    <div class="col-md-4 col-lg-3 col-xl-2">
        <label>Current District :</label>
    </div>
    <div class="col-md-6">
        <label>@Html.DisplayFor(modelItem => Model.CurrentDistrict) </label>

    </div>
    <div class="col-md-4 col-lg-3 col-xl-2">
        <label>Change to District :</label>
    </div>
    <fieldset>
        @Html.Hidden("Id", Model.Id);
        <div class="col-md-6">
            @Html.DropDownListFor(m => m.SelectedDistrict, Model.DistrictList)

        </div>

        <div class="col-md-6">
            <input type="button" value="Cancel" onclick="@("window.location.href = '"+@Url.Action("AccountListView","Accountant")+ "'");" />
            <input type="submit" value="Save" />
        </div>
    </fieldset>
</div>
}
