@model InterventionManagementSystem_MVC.Areas.Accountant.Models.EditDistrictViewModel

<h3>Edit District</h3>
<hr />
@using (Html.BeginForm("EditDistrict", "Accountant", FormMethod.Post))
{
    <div class="form-horizontal">
        <div class="row form-group">
            <div class="col-md-10">
                <label>User:</label>

                <label>@Html.DisplayFor(modelItem => Model.Name) </label>
               
            </div>
   
            </div>
            <div class="row  form-group">
                <div class="col-md-10">
                    <label>Current District :</label>

                    <label>@Html.DisplayFor(modelItem => Model.CurrentDistrict) </label>
                </div>
            
            </div>
            <div class="row  form-group">
                <fieldset>
                    <div class="col-md-10">
                        <label>Change to District :</label>
                        @Html.DropDownListFor(m => m.SelectedDistrict, Model.DistrictList)
                    </div>
                    <div class="col-md-10">
                        @Html.Hidden("Id", Model.Id)
                        <input type="button" value="Cancel" onclick="@("window.location.href = '"+@Url.Action("AccountListView","Accountant")+ "'");" />
                        <input type="submit" value="Save" />
                    </div>
                </fieldset>
            </div>
        </div>
}
